<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.students">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Университет"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Students">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student.StudentActivity"
            android:label="Студенты">
        </activity>
        <activity android:name=".Faculty.FacultyActivity"
            android:label="Факультеты">
        </activity>
        <activity android:name=".Groupa.GroupaActivity"
            android:label="Группы">
        </activity>
        <activity android:name=".Student.AddStudentActivity"
            android:label="Студент">
        </activity>
        <activity android:name=".Groupa.AddGroupaActivity"
            android:label="Группа"/>
    </application>

</manifest>